<%
    console.log(locals)
%>

<header class="top-app-bar" data-top-app-bar>

    <a href="/" class="logo">
        <img src="/images/logo-light.svg" width="98" height="24" alt="ThoughtVibe" class="light">
        <img src="/images/logo-dark.svg" width="98" height="24" alt="ThoughtVibe" class="dark">
    </a>

    <div class="trailing-action-wrapper">
        <a href="/createblog" class="btn btn-fill">
            <span class="material-symbols-outlined">
                edit
            </span>
            <p class="Label-large">Write</p>
            <div class="state-layer"></div>
        </a>    
        <div class="menu-wrapper" data-menu-wrapper>
            <button class="icon-btn" data-menu-toggler>
                <div class="avatar">
                    <p class="title-medium"></p>
                </div>
            </button>
        </div>
    </div>
</header>